@charset "utf-8";
html, body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	height: 100%;
	background-image: url('mango.jpg');
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #000000;
}
#container {
	width: 780px;  
	background-image:url('bg.png');
	background-repeat:repeat;
	margin: 0 auto; 
	border: 1px solid #000000;
	text-align: left;
	height:auto;
} 
#header { 
	background: #CD3700; 
	margin: 0;
	padding: 0 10px 0 20px;  
	border-bottom:thin;
	border-bottom-color:#000;
	border-bottom-style:ridge;
} 
#header h1 {
	margin: 0; 
	padding: 10px 0; 
}
#sidebar {
	float: right; 
	width: 200px; 
	background: #EBEBEB; 
	border-top: 1px solid #000000;
	padding: 15px 10px;
	height:inherit;
	border-bottom:thin;
	border-bottom-color:#000;
	border-bottom-style:ridge;
	border-left:thin;
	border-left-color:#000;
	border-left-style:ridge;
}
#mainContent { 
	margin: 0 220px 0 0; 
	padding: 0 20px; 
	table-layout:auto;
	border-top:thin;
	border-top-color:#000;
	border-top-style:solid;	
} 
#footer { 
	padding: 0 10px 0 20px; 
	background:#DDDDDD; 
	border-top:thin;
	border-top-color:#000;
	border-top-style:solid;	
} 
#footer p {
	margin: 0; 
	padding: 10px 0; 
}
p.post{ 
	/* Tag used on index.php for different posts */
}
#next{
	background:inherit;
	float:right;
	width:50%;
}
#prev{
	float:left;
	width:50%;
}
#alterpost{
	float:right;
}